<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Books
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-card>
      <ion-card-header>
      <ion-card-title>To Kill a Mockingbird</ion-card-title>
      <ion-card-subtitle>Genre: Courtroom drama </ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
       A haunting portrait of race and class, innocence and injustice, hypocrisy and heroism, tradition and transformation in the Deep South of the 1930s, Harper Lee’s To Kill a Mockingbird remains as important today as it was upon its initial publication in 1960, during the turbulent years of the Civil Rights movement.
      <br> 
      <br>Now, this most beloved and acclaimed novel is reborn for a new age as a gorgeous graphic novel. Scout, Jem, Boo Radley, Atticus Finch and the small town of Maycomb, Alabama, are all captured in vivid and moving illustrations by artist Fred Fordham.
      <br>                  
      <br>Enduring in vision, Harper Lee’s timeless novel illuminates the complexities of human nature and the depths of the human heart with humour, unwavering honesty and a tender, nostalgic beauty. Lifetime admirers and new readers alike will be touched by this special visual edition."
      <br>
      <br>
      <p class="ion-text-center">
      <img alt="mocking bird" width="250 px" src="
        https://cdn2.penguin.com.au/covers/original/9781785151552.jpg">
      </p>
    </ion-card-content>
    
  </ion-card>

  <ion-card>
      <ion-card-header>
      <ion-card-title>The Tragedy of Lady Macbeth</ion-card-title>
      <ion-card-subtitle> Genre: Fantasy/Alternative History</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content class="ion-text-justify">
    For several centuries The Tragedy of Macbeth has been one of the most popular of Shakespeare's plays, and is one of the most frequently performed plays of all time. Full of violence, murder, ghosts, ambition, blood, revenge, guilt, and madness, Macbeth is also one of the most influential works in all of Western art, and contains many of the most-quoted passages and infamous characters in Shakespeare's canon. This low-priced edition is ideal for students, actors, and general readers alike."
    <br> <br>     
    <p class="ion-text-center">
    <img alt="lady macbeth" width="250 px"
    src="https://blackwells.co.uk/jacket/l/9780981793009.png"/>
    </p>

    </ion-card-content>
    
  </ion-card>
</ion-content>
